<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.master.LmBannerDao">

	<select id="get" resultType="com.yiyun.domain.LmBanner">
		select `id`,`channel`,`page`,`file_id`,`sort`,`create_time`,`update_time` from lm_banner where id = #{value}
	</select>

	<select id="list" resultType="com.yiyun.domain.LmBanner">
		select `id`,`channel`,`page`,`file_id`,`sort`,`create_time`,`update_time` from lm_banner
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="channel != null and channel != ''"> and channel = #{channel} </if>
			<if test="fileId != null and fileId != ''"> and file_id = #{fileId} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
		order by sort asc,create_time asc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from lm_banner
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="channel != null and channel != ''"> and channel = #{channel} </if>
			<if test="fileId != null and fileId != ''"> and file_id = #{fileId} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.yiyun.domain.LmBanner" useGeneratedKeys="true" keyProperty="id">
		insert into lm_banner
		(
		`channel`,
		`page`,
		`file_id`,
		`sort`,
		`create_time`,
		`update_time`
		)
		values
		(
		#{channel},
		#{page},
		#{fileId},
		#{sort},
		#{createTime},
		#{updateTime}
		)
	</insert>

	<update id="edit" parameterType="com.yiyun.domain.LmBanner">
		update lm_banner
		<set>
			<if test="channel != null">`channel` = #{channel}, </if>
			<if test="page != null">`page` = #{page}, </if>
			<if test="fileId != null">`file_id` = #{fileId}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from lm_banner where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from lm_banner where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="batchRemoveFile">
		delete from lm_file where id in (
		select file_id from lm_banner where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
		)
	</delete>


</mapper>