<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.master.LmReleaseDao">

	<select id="get" resultType="com.yiyun.domain.LmRelease">
		select `id`,`category`,`brief`,`title`,`content`,`logo`,`sort`,`create_time`,`update_time` from lm_release where id = #{value}
	</select>

	<select id="list" resultType="com.yiyun.domain.LmRelease">
		select `id`,`category`,`brief`, `logo`,`sort`,`create_time`,`update_time` from lm_release
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="category != null and category != ''"> and category = #{category} </if>
			<if test="brief != null and brief != ''"> and brief = #{brief} </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="content != null and content != ''"> and content = #{content} </if>
			<if test="logo != null and logo != ''"> and logo = #{logo} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from lm_release
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="category != null and category != ''"> and category = #{category} </if>
			<if test="brief != null and brief != ''"> and brief = #{brief} </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="content != null and content != ''"> and content = #{content} </if>
			<if test="logo != null and logo != ''"> and logo = #{logo} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.yiyun.domain.LmRelease" useGeneratedKeys="true" keyProperty="id">
		insert into lm_release
		(
		`category`,
		`brief`,
		`title`,
		`content`,
		`logo`,
		`sort`,
		`create_time`,
		`update_time`
		)
		values
		(
		#{category},
		#{brief},
		#{title},
		#{content},
		#{logo},
		#{sort},
		#{createTime},
		#{updateTime}
		)
	</insert>

	<update id="edit" parameterType="com.yiyun.domain.LmRelease">
		update lm_release
		<set>
			<if test="category != null">`category` = #{category}, </if>
			<if test="brief != null">`brief` = #{brief}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="logo != null">`logo` = #{logo}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from lm_release where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from lm_release where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>