<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.master.LmReleaseDao">

	<select id="get" resultType="com.yiyun.domain.LmRelease">
		select `id`,`category`,`thumbnail`,`title`,`brief`,`original`,`stick`,`state`,`out_chain`,`content`,`terminal`,`sort`,`release_date`,`create_time`,`update_time` from lm_release where id = #{value}
	</select>

	<select id="list" resultType="com.yiyun.domain.LmRelease">
		select `id`,`category`,`thumbnail`,`title`,`brief`,`original`,`stick`,`state`,`out_chain`,`terminal`,`sort`,`release_date`,`create_time`,`update_time` from lm_release
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="category != null and category != ''"> and category = #{category} </if>
			<if test="thumbnail != null and thumbnail != ''"> and thumbnail = #{thumbnail} </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="brief != null and brief != ''"> and brief = #{brief} </if>
			<if test="original != null and original != ''"> and original = #{original} </if>
			<if test="stick != null and stick != ''"> and stick = #{stick} </if>
			<if test="state != null and state != ''"> and state = #{state} </if>
			<if test="outChain != null and outChain != ''"> and out_chain = #{outChain} </if>
			<if test="terminal != null and terminal != ''"> and terminal in (${terminal}) </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="releaseDate != null and releaseDate != ''"> and release_date = #{releaseDate} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
		order by sort asc,create_time asc
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from lm_release
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="category != null and category != ''"> and category = #{category} </if>
			<if test="thumbnail != null and thumbnail != ''"> and thumbnail = #{thumbnail} </if>
			<if test="title != null and title != ''"> and title = #{title} </if>
			<if test="brief != null and brief != ''"> and brief = #{brief} </if>
			<if test="original != null and original != ''"> and original = #{original} </if>
			<if test="stick != null and stick != ''"> and stick = #{stick} </if>
			<if test="state != null and state != ''"> and state = #{state} </if>
			<if test="outChain != null and outChain != ''"> and out_chain = #{outChain} </if>
			<if test="terminal != null and terminal != ''"> and terminal = #{terminal} </if>
			<if test="sort != null and sort != ''"> and sort = #{sort} </if>
			<if test="releaseDate != null and releaseDate != ''"> and release_date = #{releaseDate} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.yiyun.domain.LmRelease" useGeneratedKeys="true" keyProperty="id">
		insert into lm_release
		(
		`category`,
		`thumbnail`,
		`title`,
		`brief`,
		`original`,
		`stick`,
		`state`,
		`out_chain`,
		`content`,
		`terminal`,
		`sort`,
		`release_date`,
		`create_time`,
		`update_time`
		)
		values
		(
		#{category},
		#{thumbnail},
		#{title},
		#{brief},
		#{original},
		#{stick},
		#{state},
		#{outChain},
		#{content},
		#{terminal},
		#{sort},
		#{releaseDate},
		#{createTime},
		#{updateTime}
		)
	</insert>

	<update id="edit" parameterType="com.yiyun.domain.LmRelease">
		update lm_release
		<set>
			<if test="category != null">`category` = #{category}, </if>
			<if test="thumbnail != null">`thumbnail` = #{thumbnail}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="brief != null">`brief` = #{brief}, </if>
			<if test="original != null">`original` = #{original}, </if>
			<if test="stick != null">`stick` = #{stick}, </if>
			<if test="state != null">`state` = #{state}, </if>
			<if test="outChain != null">`out_chain` = #{outChain}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="terminal != null">`terminal` = #{terminal}, </if>
			<if test="sort != null">`sort` = #{sort}, </if>
			<if test="releaseDate != null">`release_date` = #{releaseDate}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from lm_release where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from lm_release where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="batchRemoveFile">
		delete from lm_file where id in (
		select thumbnail from lm_release where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
		)
	</delete>

</mapper>