<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.master.LmUserHisDao">

	<select id="get" resultType="com.yiyun.domain.LmUserHis">
		select `id`,`user_id`,`his_type`,`mobile`,`username`,`password`,`cert_type`,`cert_no`,`cert_sign`,`cert_positive`,`cert_reverse`,`cert_hand`,`positive_remark`,`reverse_remark`,`hand_remark`,`cert_date`,`create_time`,`usr_update_time`,`opr_update_time`,`last_update_time` from lm_user_his where id = #{value}
	</select>

	<select id="list" resultType="com.yiyun.domain.LmUserHis">
		select `id`,`user_id`,`his_type`,`mobile`,`username`,`password`,`cert_type`,`cert_no`,`cert_sign`,`cert_positive`,`cert_reverse`,`cert_hand`,`positive_remark`,`reverse_remark`,`hand_remark`,`cert_date`,`create_time`,`usr_update_time`,`opr_update_time`,`last_update_time` from lm_user_his
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="hisType != null and hisType != ''"> and his_type = #{hisType} </if>
			<if test="mobile != null and mobile != ''"> and mobile LIKE CONCAT('%', #{mobile}, '%') </if>
			<if test="username != null and username != ''"> and username LIKE CONCAT('%', #{username}, '%') </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="certType != null and certType != ''"> and cert_type = #{certType} </if>
			<if test="certNo != null and certNo != ''"> and cert_no = #{certNo} </if>
			<if test="certSign != null and certSign != ''"> and cert_sign = #{certSign} </if>
			<if test="certPositive != null and certPositive != ''"> and cert_positive = #{certPositive} </if>
			<if test="certReverse != null and certReverse != ''"> and cert_reverse = #{certReverse} </if>
			<if test="certHand != null and certHand != ''"> and cert_hand = #{certHand} </if>
			<if test="positiveRemark != null and positiveRemark != ''"> and positive_remark = #{positiveRemark} </if>
			<if test="reverseRemark != null and reverseRemark != ''"> and reverse_remark = #{reverseRemark} </if>
			<if test="handRemark != null and handRemark != ''"> and hand_remark = #{handRemark} </if>
			<if test="certDate != null and certDate != ''"> and cert_date = #{certDate} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="usrUpdateTime != null and usrUpdateTime != ''"> and usr_update_time = #{usrUpdateTime} </if>
			<if test="oprUpdateTime != null and oprUpdateTime != ''"> and opr_update_time = #{oprUpdateTime} </if>
			<if test="lastUpdateTime != null and lastUpdateTime != ''"> and last_update_time = #{lastUpdateTime} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from lm_user_his
		<where>
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="userId != null and userId != ''"> and user_id = #{userId} </if>
			<if test="hisType != null and hisType != ''"> and his_type = #{hisType} </if>
			<if test="mobile != null and mobile != ''"> and mobile LIKE CONCAT('%', #{mobile}, '%') </if>
			<if test="username != null and username != ''"> and username LIKE CONCAT('%', #{username}, '%') </if>
			<if test="password != null and password != ''"> and password = #{password} </if>
			<if test="certType != null and certType != ''"> and cert_type = #{certType} </if>
			<if test="certNo != null and certNo != ''"> and cert_no = #{certNo} </if>
			<if test="certSign != null and certSign != ''"> and cert_sign = #{certSign} </if>
			<if test="certPositive != null and certPositive != ''"> and cert_positive = #{certPositive} </if>
			<if test="certReverse != null and certReverse != ''"> and cert_reverse = #{certReverse} </if>
			<if test="certHand != null and certHand != ''"> and cert_hand = #{certHand} </if>
			<if test="positiveRemark != null and positiveRemark != ''"> and positive_remark = #{positiveRemark} </if>
			<if test="reverseRemark != null and reverseRemark != ''"> and reverse_remark = #{reverseRemark} </if>
			<if test="handRemark != null and handRemark != ''"> and hand_remark = #{handRemark} </if>
			<if test="certDate != null and certDate != ''"> and cert_date = #{certDate} </if>
			<if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
			<if test="usrUpdateTime != null and usrUpdateTime != ''"> and usr_update_time = #{usrUpdateTime} </if>
			<if test="oprUpdateTime != null and oprUpdateTime != ''"> and opr_update_time = #{oprUpdateTime} </if>
			<if test="lastUpdateTime != null and lastUpdateTime != ''"> and last_update_time = #{lastUpdateTime} </if>
		</where>
	</select>

	<insert id="save" parameterType="com.yiyun.domain.LmUserHis">
		insert into lm_user_his
		(
		`id`,
		`user_id`,
		`his_type`,
		`mobile`,
		`username`,
		`password`,
		`cert_type`,
		`cert_no`,
		`cert_sign`,
		`cert_positive`,
		`cert_reverse`,
		`cert_hand`,
		`positive_remark`,
		`reverse_remark`,
		`hand_remark`,
		`cert_date`,
		`create_time`,
		`usr_update_time`,
		`opr_update_time`,
		`last_update_time`
		)
		values
		(
		#{id},
		#{userId},
		#{hisType},
		#{mobile},
		#{username},
		#{password},
		#{certType},
		#{certNo},
		#{certSign},
		#{certPositive},
		#{certReverse},
		#{certHand},
		#{positiveRemark},
		#{reverseRemark},
		#{handRemark},
		#{certDate},
		#{createTime},
		#{usrUpdateTime},
		#{oprUpdateTime},
		#{lastUpdateTime}
		)
	</insert>

	<update id="edit" parameterType="com.yiyun.domain.LmUserHis">
		update lm_user_his
		<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="hisType != null">`his_type` = #{hisType}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="password != null">`password` = #{password}, </if>
			<if test="certType != null">`cert_type` = #{certType}, </if>
			<if test="certNo != null">`cert_no` = #{certNo}, </if>
			<if test="certSign != null">`cert_sign` = #{certSign}, </if>
			<if test="certPositive != null">`cert_positive` = #{certPositive}, </if>
			<if test="certReverse != null">`cert_reverse` = #{certReverse}, </if>
			<if test="certHand != null">`cert_hand` = #{certHand}, </if>
			<if test="positiveRemark != null">`positive_remark` = #{positiveRemark}, </if>
			<if test="reverseRemark != null">`reverse_remark` = #{reverseRemark}, </if>
			<if test="handRemark != null">`hand_remark` = #{handRemark}, </if>
			<if test="certDate != null">`cert_date` = #{certDate}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="usrUpdateTime != null">`usr_update_time` = #{usrUpdateTime}, </if>
			<if test="oprUpdateTime != null">`opr_update_time` = #{oprUpdateTime}, </if>
			<if test="lastUpdateTime != null">`last_update_time` = #{lastUpdateTime}</if>
		</set>
		where id = #{id}
	</update>

	<delete id="remove">
		delete from lm_user_his where id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from lm_user_his where id in
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>