<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.cluster.ClusterNewfeedbackDao">

    <select id="get" resultType="com.yiyun.domain.Newfeedback">
		select `id`,`member_id`,`name`,`phone`,`type`,`message`,`advice`,`status`,`operator`,`create_time`,`deal_time`,`loan`,`customer_id`,`customer` from u_newfeedback where id = #{value}
	</select>

    <select id="list" resultType="com.yiyun.domain.Newfeedback">
        select `id`,`member_id`,`name`,`phone`,`type`,`message`,`advice`,`status`,`operator`,`create_time`,`deal_time`,`loan`,`customer_id`,`customer` from u_newfeedback
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberId != null and memberId != ''">and member_id = #{memberId}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="message != null and message != ''">and message = #{message}</if>
            <if test="advice != null and advice != ''">and advice = #{advice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="operator != null and operator != ''">and operator = #{operator}</if>
            <if test="loan != null and loan != ''">and loan = #{loan}</if>
            <if test="customer_id != null and customer_id != ''">and customer_id = #{customer_id}</if>
            <if test="customer != null and customer != ''">and customer = #{customer}</if>

            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="dealTime != null and dealTime != ''">and deal_time = #{dealTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt; #{createTimeEnd}</if>
            <if test="ids != null">
                and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from u_newfeedback
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="memberId != null and memberId != ''">and member_id = #{memberId}</if>
            <if test="name != null and name != ''">and name = #{name}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="message != null and message != ''">and message = #{message}</if>
            <if test="advice != null and advice != ''">and advice = #{advice}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="operator != null and operator != ''">and operator = #{operator}</if>
            <if test="loan != null and loan != ''">and loan = #{loan}</if>
            <if test="customer_id != null and customer_id != ''">and customer_id = #{customer_id}</if>
            <if test="customer != null and customer != ''">and customer = #{customer}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="dealTime != null and dealTime != ''">and deal_time = #{dealTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt; #{createTimeEnd}</if>
            <if test="ids != null">
                and id in
                <foreach item="id" collection="ids" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
</mapper>