<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yiyun.dao.cluster.ClusterNewProductDao">

    <select id="get" resultType="com.yiyun.domain.NewProduct">
		select `id`,`name`,`content`,`advantage`,`inferiority`,`position`,`type1`,`type2`,`status`,`create_time`,`update_time` from p_new_product where id = #{value}
	</select>

    <select id="list" resultType="com.yiyun.domain.NewProduct">
        select `id`,`name`,`content`,`advantage`,`inferiority`,`position`,`type1`,`type2`,`status`,`create_time`,`update_time` from p_new_product
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name like CONCAT(CONCAT('%', #{name}), '%')</if>
            <if test="type1 != null and type1 != ''">and type1 = #{type1}</if>
            <if test="type2 != null and type2 != ''">and type2 = #{type2}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="advantage != null and advantage != ''"> and advantage = #{advantage} </if>
            <if test="inferiority != null and inferiority != ''"> and inferiority = #{inferiority} </if>
            <if test="position != null and position != ''"> and position = #{position} </if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt; #{createTimeEnd}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time &gt;= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt; #{updateTimeEnd}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from p_new_product
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="name != null and name != ''">and name like CONCAT(CONCAT('%', #{name}), '%')</if>
            <if test="type1 != null and type1 != ''">and type1 = #{type1}</if>
            <if test="type2 != null and type2 != ''">and type2 = #{type2}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="advantage != null and advantage != ''"> and advantage = #{advantage} </if>
            <if test="inferiority != null and inferiority != ''"> and inferiority = #{inferiority} </if>
            <if test="position != null and position != ''"> and position = #{position} </if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>

            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time &gt;= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt; #{createTimeEnd}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time &gt;= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt; #{updateTimeEnd}</if>
        </where>
    </select>
</mapper>