<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm" enctype="multipart/form-data">
							<div class="form-group">
								<label class="col-sm-3 control-label">种类<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<select id="category" name="category" class="form-control">
										<option value="news">新闻发布</option>
										<option value="media">媒体报道</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发布简介<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<input id="brief" name="brief" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发布标题<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<input id="title" name="title" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">发布内容<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<textarea id="content" name="content" rows="3" cols="63" class="form-control"></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">Logo<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<input id="file" name="file" class="form-control" type="file">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">排序<span class="text-danger">*</span>：
								</label>
								<div class="col-sm-8">
									<input id="sort" name="sort" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/liumo/lmRelease/add.js"></script>
</body>
</html>
