@charset "utf-8";
#body{
	background:#f2f2f2;
}
.banner_wrap{ width:100%; background:#fff7ea; position:relative; float:left;}
.banner_aaa{width:100%; position:relative; height:611px; background:url(/img/main/banner.png) center center no-repeat; overflow:hidden; background-size:cover;}
.banner_bbb{width:100%; position:relative; height:611px; background:url(/img/main/banner2.png) center center no-repeat; overflow:hidden; background-size:cover;}
.index_banner{ width:100%; height:611px;display:block; position:absolute;}
.banner_form{ width:1150px; position:absolute; left:50%; margin-left:-600px; top:0px;}
.banner_form form{width:417px; height:463px; background:white; float:right; margin-top:80px;}
.form_h5{ font-size:18px; color:#333; text-align:center; margin:30px auto;}
 #choose{display: none;}
 #leibie{display: none;}
.select_box{font-family: "宋体"; font-size: 16px;color: #999999;width: 380px;line-height: 48px; margin: 20px auto; background:#f2f2f2;}
.select_showbox{height: 50px;padding-left: 5px;background:url(/img/main/dao.png) 350px 18px no-repeat;}
.select_option{border-top: none;display: none;position: absolute;
    z-index: 9999;
    width: 380px;
    background: white;}
.select_option li{padding-left: 5px;}
.select_option li.selected{background-color: #F3F3F3;color: #999;}
.select_option li.hover{background: #373737; color: #fff;}
.banner_tel{ display:block; width:378px; height:50px; background:#f2f2f2;  margin:20px auto; text-indent:5px; color:#999;border:1px solid #f2f2f2; }
.yzm{ width:380px; margin:20px auto;color:#999;}
.yzm input{ float:left; width:247px; height:50px;  border:1px solid #f2f2f2; text-indent:5px;background:#f2f2f2;}
.yzm .bg{ float:right; width:124px; height:50px; background:#b4b4b4; color:#ffffff; font-size:16px; text-align:center; line-height:50px;}
.agree{width:380px; margin:30px auto;}
.agree span{ float:left; background:url(/img/main/agree.png) 0 0 no-repeat; width:20px; height:20px;}
.agree p{ float:left; margin-left:10px; font-size:16px; color:#484848;}
.agree p a{ text-decoration:none; color:#f76638;}
.agree p a:hover{ text-decoration:none;}
.form_tijiao{ width:380px; height:50px; background:#373737; color:white; font-size:16px; display:block; border:none; margin:30px auto;}
.form_tijiao:hover{ background:#3f3f3f;}
.index_second{ width:1170px; background:white; height:260px; margin:0 auto; overflow:hidden; margin-bottom:24px;}
.second_fwf{ border-bottom:1px solid #f2f2f2; position:relative;}
.second_fwf p{ width:50%; float:left; text-align:center; line-height:104px; color:#333333; font-size:16px;}
.second_fwf p span{ color:#ff8902; font-size:18px; font-weight:bold;}
.second_fwf img{ position:absolute; left:50%; width:1px; height:42px; top:28px;}
.second_icons li{ width:33.3%; float:left; margin:0 auto; text-align:center;}
.second_icons li img{ margin:43px 30px 43px 0px;}
.index_three{ width:1170px; margin:0px auto; background:white; padding:0px 0px; overflow:hidden;}
.three_dinwei{ width:830px; height:420px; margin:0 auto; position:relative;}
.circle{ width:530px; height:349px; display:block; margin:0 auto;}
.three_dinwei p{ width:237px; border-radius:8px; padding:12px 18px; color:#333; font-size:16px; line-height:26px; text-align:center; position:absolute;}
.circlep1{ left:60px; top:105px;}
.circlep2{ right:60px; top:105px;}
.circlep3{ left:300px; bottom:22px;}
.step_wrap{ width:740px; margin:0 auto;}
.index_title{ font-size:34px; color:#333333; text-align:center; margin-top:27px; margin-bottom:60px;}
.youxiu_kejl li img{ display:block; width:60%; margin:0 auto;}
.icon_step li{ width:33.3%; float:left; margin:0 auto; text-align:center;}
.icon_step li img,.icon_step li span{ display:block; margin:0 auto; margin-bottom:20px;}
.step_line{ border-top:1px solid #f2f2f2; position:relative;}
.step_line div{ float:left; width:33.3%;margin-top:-11px;}
.step_line img{ display:block; margin:0 auto; width:22px; height:22px;}
.step_last{ margin:30px 0px; overflow:hidden;}
.step_last span{ float:left; width:33.3%; text-align:center; font-size:18px; color:#333;}
.banks li{ float:left; width:25%; margin-bottom:50px;}
.banks li img{ width:242px; display:block; margin:0 auto;}


.product_wrap{float:left; width:100%;}
.product_three{ width:1170px; background:white; margin:20px auto 0px; overflow:hidden;}
.product_head{ height:74px; border-bottom:1px solid #e6e6e6; border-left:8px solid #3587fb;}
.product_left{ float:left; color:#333333; font-size:18px; margin-left:18px;}
.product_left span{ float:left; line-height:74px;}
.product_left i{ float:left; width:22px; height:22px; background:#3587fb; margin-top:26px; color:white; border-radius:4px; text-align:center; margin-left:13px; font-size:16px;}
.jiantou_right{ float:right; margin-right:32px; margin-top:24px; color:#ff8902; font-size:16px;}
.jiantou_right:hover{ color:#ff8902; text-decoration:none;}
.jiantou_right img{ display:inline-block; width:30px; height:30px; margin-left:9px; margin-top:-3px;}
.product_list{ width:1120px; margin:0 auto;}
.product_list li{  border-bottom:1px solid #e6e6e6; height:110px; overflow:hidden;}
.product_list li h6{ float:left; font-size:16px; color:#333; width:50px; margin-right:20px; line-height:110px; margin-top:0px; margin-bottom:0px;}
.product_list li p{ float:left; font-size:16px; color:#666666; width:422px; margin-right:262px;line-height:110px;overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap; height:110px;}
.product_list li a{ float:right; margin-right:40px; width:230px; height:45px; background:#fd8c29; text-align:center; line-height:44px; color:white; font-size:16px; margin-top:30px;}
.product_list li a:hover{ text-decoration:none; background:#ff7302;}
.fang{ border-left:8px solid #fc5824;}
.fang i{ background:#fc5824;}
.success_kefu{ width:900px; margin:0 auto; background:white; padding:115px 0px 90px;}
.kefu{ float:left; width:130px; height:62px; margin-right:192px;}
.youxiu_kejl li{ width:33.3%; float:left; text-align:center; margin:0 auto; margin-bottom:44px;}
.youxiu_kejl li p{ font-size:14px; color:#333; margin-top:16px; width:70%; margin:0 auto; line-height:24px;}

.list_zuigao li p{ width:300px; line-height:inherit; margin-top:45px;font-size:16px; margin-right:130px; height:48px;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;  white-space:inherit}
.list_zuigao span{ float:left; color:#fd8c29; font-size:16px; line-height:110px;}

.detail_tit{ background:url(/img/main/detail_tit.png) 0 0 no-repeat; width:112px; height:53px; text-align:center; line-height:50px; color:white; font-size:18px; margin:25px -3px 0px;}
.title_h{ padding:0px 40px; font-size:16px; color:#333; margin-bottom:44px; font-weight:bold; margin-top:44px;}
.detail_product{padding:0px 40px;font-size:16px; color:#333; line-height:24px;}
.line{ display:block; border-top:1px solid #e5e5e5; margin:0px 40px; margin-top:44px; margin-bottom:44px;}
.detail_information{ padding:0px 40px;}
.detail_information div{ width:50%; float:left;}
.detail_information div p{ margin-bottom:50px;font-size:16px; color:#333;}
.aaa div{ width:80%;}
.aaa div p{ margin-bottom:26px;}

.about_title{ font-size:18px; color:#333; text-align:center; font-weight:bold; margin:40px auto;}
.about_content{width:1024px; margin:0 auto;}
.about_content p{ color:#666; font-size:16px; text-indent:36px; line-height:26px;}
.about_lr{width:1024px; margin:75px auto; position:relative;}
.about_lr div{ float:left; width:50%; margin:0 auto; text-align:center;}
.about_lr div p{color:#666; font-size:16px; line-height:30px;}
.about_line{ display:block; position:absolute; width:2px; height:54px; background:#cccccc; left:50%; top:13px;}
.shiming{ width:1020px; margin:0 auto;}
.shiming li{ float:left; width:33.3%; margin-bottom:70px;}
.shiming li h5{ color:#333; font-size:16px; margin-bottom:35px; background:url(/img/main/douhao.png) 70px center no-repeat;}
.shiming li p{ width:255px; color:#666; font-size:14px; line-height:28px;}


.new_last{ width:100%; background:white; float:left; margin:20px 0px;}
.new_tit{ margin-bottom:30px; margin-top:60px;}
.new_one{ width:100%; background:white; float:left;}
.new_small_title{ text-align:center; color:#666666; font-size:24px;}
.new_img1{ display:block; margin:60px auto 10px;}
.new_content{ width:1000px; margin:0 auto;}
.new_content_left{ float:left;}
.new_content_right{ float:right;}
.new_o_t{ margin-top:90px; margin-bottom:128px;}
.new_conent_p{ color:#000036; font-size:32px; margin-bottom:40px; margin-top:70px;}
.new_conent_span{ display:block;color:#4f5767; font-size:18px; line-height:32px;}

.bgs {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f7f8f9;
    -webkit-transform: skewY(-4.8deg);
    /* transform: skewY(-4.8deg); */
    bottom: 0;
}
.bg1 {
    position: absolute;
    width: 70%;
    height: 230px;
    background: #f7f8f9;
    top: 0;
    right: 0;
    z-index: -15;
}

.pte-cn-feature-usa-part5 {
    height: 545px;
    width: 100%;
    position: relative;
	float:left;
	background:white;
}
.new_t_t{ position:absolute; left:50%; margin-left:-570px;}
.tables{}
.tables tr{ height:163px; text-align:center; border:2px solid #dfdfdf; font-size:24px;}
.tables tr th{ text-align:center; border:2px solid #dfdfdf;}
.tables tr td{ border:2px solid #dfdfdf;}
.tables tr:nth-child(1){ background:#f0f0f0;}
@media screen and (min-width:320px) and (max-width:768px){

}

