<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>企业介绍</title>
    <link href="/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/css/wechat/index.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<header class="qiye_header"><h4>企业介绍</h4><span></span></header>
<content class="qiye_content">
    <p>速贷吧是熠云投资（北京）有限公司旗下的贷款融资平台，为客户提供包括投融资申请、资产评估等在内的“一站式金融服务”。</p>
    <p>熠云（投资）北京有限公司成立于2014年9月，注册资本5000万元，实缴资本5000万元。公司由一只充满活力、乐观积极、怀揣梦想的团队 建立，成员有金融、互联网行业多年从业经验。</p>
    <p>在目前金融贷款行业乱象频出、交易不公开不透明的环境下，公司于2017年8月坚定提出： 只做公开、透明交易，以提供高效专业的金融服务 为己任，力求解决行业乱象，让小额贷款不再成为难事。</p>
</content>
</body>
<script src="/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/js/font.js" type="text/javascript"></script>
<script type="text/javascript">
</script>
</html>
