<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>加载中</title>
    <link href="/css/reset.css" type="text/css" rel="stylesheet"/>
    <link href="/css/wechat/index.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<p style="text-align:center; position:fixed; top:46%; font-size:20px; left:40%; color:#666666;">进入中...</p>
<input type="hidden" id="redirectUrl" th:value="${redirectUrl}">
</body>
<script src="/js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="/js/font.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //1 . 尝试从localstorage 中读取phone
        var phone = localStorage.getItem("phone");
        var redirectUrl = $("#redirectUrl").val();
        if (!redirectUrl || redirectUrl.length <= 18) {
            redirectUrl = "/wechat/appMember/toOrderList"
        }
        //2 . 若成功读取 , 说明已经登录 , 直接跳转
        if (phone) {
            location.href = redirectUrl + "?phone=" + phone;
        } else {
            //3 . 若未读取到 , 说明未登录或登录状态已失效 , 携带请求地址进入登录
            location.href = "/wechat/appMember/toLogin?redirectUrl=" + redirectUrl;
        }
    });
</script>
</html>
