<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad(1)">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="certSign" name="certSign" class="form-control">
								<option value="">实名认证标志</option>
								<option value="0">否</option>
								<option value="1">是</option>
								<option value="2">认证中</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="username" type="text" class="form-control" placeholder="姓名">
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="mobile" type="text" class="form-control" placeholder="手机号">
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="liumo:lmUser:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/liumo/lmUser/lmUser.js"></script>
</body>
</html>