<footer class="footer_content">
    <div class="footer_one clearfix">
        <img src="../../common/images/foot_logo.png"/>
        <div class="foot_one_right">
            <a href="javascript:">贷款产品</a>
            <span></span>
            <a href="javascript:">关于我们</a>
        </div>
    </div>
    <p class="foot_p">客服热线：400-100-300</p>
    <p class="foot_p">客服邮箱：suhdleh@163.com</p>
    <span class="foot_line"></span>
    <div class="foot_last">
        <span>熠云投资(北京)有限公司</span>
        <span>备案号：京ICP备17004551号</span>
        <span>*网贷有风险，投资需谨慎</span>
    </div>
</footer>
<div class="footer_fix">
    <div class="footer_fix_con">
        <span class="foot_fix_span">咨询热线：400-100-300</span>
        <div class="footer_fix_right">
            <a class="foot_liji" href="javascript:">立即申请</a>
            <div class="fix_dis clearfix">
                <input type="text" id="dibu_tel" placeholder="请输入您的手机号" value=""/>
                <a href="javascript:" id="liji_tonghua">立即通话</a>
            </div>
        </div>
    </div>
</div>